* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da);
  color: #ffffff;
  min-height: 100vh;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 550px;
}
.box {
  width: 500px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.foto img {
  width: 500px;
  height: 350px;
  border-radius: 10px 10px 0px 0px;
  margin-top: 50px;
}
.foto {
  height: 350;
}
.section {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  flex-basis: 350px;
  padding: 0 10px 10px;
  width: 500px;
}
p1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: center;
}
.pravidla {
  display: flex;
  flex-basis: 300px;
  padding: 20px;
  justify-content: center;
  justify-items: center;
  background-color: #1fcca4;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pravidla:hover {
  background-color: #1cbb96;
}

.zacithrat {
  display: flex;
  flex-basis: 300px;
  padding: 20px;
  justify-content: center;
  justify-items: center;
  background-color: #0197f6;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.zacithrat:hover {
  background-color: #0090e9;
}
